@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
input, select, textarea {
	margin:0;
	padding:0
}
body {
	-webkit-text-size-adjust:none;
	background:#fff;
	min-width:320px;
	/* [disabled]margin:0;
*/
	padding:0;
	font-family:"microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
}
.overflow {
	overflow:hidden;
	zoom:1;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#666
}
img, img a {
	border:0;
	vertical-align:middle;
}
.left {
	float:left
}
.right {
	float:right
}
.clear {
	clear:both;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc;
}
.background1{background:#f1f1f1;}
.height1{height:10px;}

.margin{margin:3%;}
.lxdh input{ width:99%;height:40px;line-height:40px;padding-left:1%;border:none;font-size:16px;}
.border_1{border:#ccc solid 1px;padding-left:1%;margin-bottom:20px;}

.border_2{border:#ccc solid 1px; width:52%; float:left;margin-bottom:20px;padding-left:2%;}
.Buy_btn4 {
	float:right;
	padding:7px 5% 0 0;
}
.Buy_btn4 a {
	display: inline-block;
	text-align:center;
	height:45px;
	line-height:45px;
	background: -moz-linear-gradient(top, #fecf1f, #f1be00);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fecf1f), to(#f1be00));
	color:#FFF;
	font-size:1.2em;

	border:1px solid #f1be00;
}
.Buy_btn5 {
	float:right;
	padding:7px 5% 0 0;
}
.Buy_btn5 a {
	display: inline-block;
	text-align:center;
	height:45px;
	line-height:45px;
	background: -moz-linear-gradient(top, #eee, #eee);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#eee));

	color:#999;
	font-size:1.2em;

	border:1px solid #eee;
}
.submit_order { padding:3% 3% 10% 3%; width:94%;}
.submit_order a {
	display:block
}
/*.zyz p label{ width:70px; text-align:right;margin-right:5px;line-height:45px;}
.zyz p input{height:45px; width:200px;}
*/
.tbg{ text-align:center;margin-bottom:20px;border-bottom:#ccc solid 1px;}
.tbg td{height:45px;border-right:#ccc solid 1px;border-top:#ccc solid 1px;}
.tbg p{ padding:5px;line-height:20px; text-align:center;color:#999}
.tbg span{ display:block; text-align:left;padding:5px;line-height:20px; margin-left:10px;color:#999}

.test_box {
    width: 90%;
    min-height: 50px;  float:left;border:none; padding-left:4px; margin-left:10px; text-align:left;padding:5px 0;
    max-height: 3000px;
    _height: 50px;
    outline: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
}
.tishi{ text-align:center;margin:20px 0;}

.prompt{margin:60% auto 0; width:250px;height:100px; text-align:center;line-height:22px;}
.prompt p{margin-bottom:15px;}
.prompt span{color:#f1be00; text-decoration:underline;font-weight:bold;}


.insured{margin:3%}
.insured h2{overflow:hidden;zoom:1;font-size:14px;font-weight:normal}

.insured h2 span{ float:left;line-height:32px;font-size:16px;}
.insured h2 strong{ float:right;border:#ccc solid 1px;padding:5px 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:#f1be00;color:#fff;font-weight:normal}
.tbg1{ width:100%;margin:10px auto 5px;border-left:1px solid #ccc}
.tbg1 input{height:35px; width:90%;border:none}
.insur_nei{margin-top:20px;}
.insured_tishi{ text-align:right; width:100%;font-size:12px;color:#999;margin:0 auto;}
h3{font-size:16px;font-weight:normal;margin-top:20px}

.insur_qx{overflow:hidden;zoom:1;margin-top:20px;margin-left:1%;}
.insur_qx li{ float:left; width:30%}
.insur_qx li:nth-of-type(even){margin:0 4%;}
.insur_qx li span{ display:block; width:100%;border:#ccc solid 1px; text-align:center;line-height:100%;padding:15px 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color:#999;}
.insur_qx li .active_in{background:#f1be00;color:#fff}

.insu_bf{ float:right;margin:30px 0 20px 0;color:#666;margin-right:2%}
.insu_bf strong{font-size:24px;font-weight:normal;color:#f1be00;}
.bddh{ position:fixed; left:0;bottom:0;height:50px;background:#fff; width:100%;border-top:#ccc solid 1px;}
.bddh p{ float:left; overflow:hidden;zoom:1;width:49%; text-align:left;color:#666;padding-left:3%;padding-top:6px;}
.bddh p strong{ display:block;font-size:14px;font-weight:normal;color:#000;line-height:20px;}
.bddh p span{ float:left;font-size:14px;line-height:20px;}
.bddh div{float:right; width:35%;height:50px;text-align:center;line-height:50px;font-size:18px;border-left:#ccc solid 1px ;background:#eaeaea;padding:0 2%;color:#666}
.bddh div img{ float:left;margin-top:12px;margin-left:5px;}

/*.qxgl p{ text-align:center;margin:30px 0;line-height:25px;font-size:16px;color:#666;}
.qxgl p span{ text-align:center;font-size:18px; display:block;margin-bottom:10px;font-weight:bold}*/
.qxgl strong{ text-align:center;font-size:18px; display:block;color:#666;margin-bottom:15px;}

.qxgl table{ width:100%;border-top:#ccc solid 1px;width:90%;margin:0   auto ;border-left:#ccc solid 1px;margin-top:10px;}

.qxgl td,.qxgl th{border-bottom:#ccc solid 1px;border-right:#ccc solid 1px;height:35px; text-align:center;color:#666}
.qxgl td span{font-size:14px; display:block;color:#666;margin-bottom:5px;}
.qxgl td{font-size:12px;padding:10px 0;color:#999}
.qxgl th{font-size:16px;}



.qx_bt{ text-align:center;line-height:20px;margin:20px 0;}
.fwfw{background:#e4e4e4;color:#666; width:200px;margin:0 auto ;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:15px;margin-bottom:20px; text-align:center}
.fwfw a{font-size:12px;}
.fwfw div{font-weight:bold;}


.sign{background-image:url(../images/sign_bg.jpg); text-align:center; background-size:100%;height:220px; position:relative}
.sign_gz{ position:absolute;right:20px;top:20px;color:#666;font-size:14px;}


.sign_button {
    display: inline-block;
	height:100px;
	width:100px;
    text-align: center;
	line-height:100px;
	background:#fff;
	font-size:20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	margin:25px 0;
    border-radius: 50%;

}
.sign p{color:#666 ;font-size:14px;line-height:22px;}

.sign_tb{ width:90%;border-top:#f1f1f1 solid 1px;border-left:#f1f1f1 solid 1px; text-align:center; margin:20px auto;background:#fff}
.sign_tb th:nth-child(7n){border-right:#f1f1f1 solid 1px;}
.sign_tb th{height:30px;line-height:35px;border-bottom:#f1f1f1 solid 1px;color:#333;font-weight:normal;}
.sign_tb td{height:30px;line-height:35px;border-bottom:#f1f1f1 solid 1px;border-right:#f1f1f1 solid 1px;color:#666}
.sign_tb .sign_active{background-color:#fecf1f;color:#fff;background-image:url(../images/duigou.png); background-position:bottom right; background-size:15px 15px; background-repeat:no-repeat;}
.sign_jl{background:#fff; width:90%;margin:0 auto 30px;}
.sign_jl h2{font-size:16px;font-weight:normal;padding:10px;border-bottom:#f1f1f1 solid 1px;}
.jf_dhlb{ overflow:hidden;zoom:1;}
.jf_dhlb li{ float:left; width:50%;}
.jf_dhlb li dl{border-bottom:#f1f1f1 solid 1px;padding:10px ;}
.jf_dhlb li dl:nth-child(2n+1){border-right:#f1f1f1 solid 1px;}
.jf_dhlb li dl dt{font-size:12px;color:#999;margin-bottom:5px; text-align:center}
.jf_dhlb li dl dt img{ width:80px;}
.jf_dhlb li dl dd{font-size:12px;margin-bottom:5px;color:#666;word-spacing:normal; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; clear:both; text-align:center}
.jf_dhlb li dl .jf_xt{color:#333;font-size:14px;}


.box{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:999;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6; display:none;
}


.popup{ position:fixed;top:10%;left:5%;width:80%;background:#fff; z-index:1000; -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; padding: 20px 5% 15px 5% ; display:none; }
.popup h4{ text-align:center;font-size:16px;font-weight:normal;margin-bottom:15px;}
.popup p{line-height:20px; margin-bottom:10px;}
.popup .sign_aniu{ display:block; -webkit-border-radius:5px;-moz-border-radius: 5px;border-radius: 5px;width:100%;background:#f1be00;height:45px; text-align:center;line-height:45px;margin-top:20px;font-size:16px;color:#fff}
.tbg input{float:left;height:30px;border:none; width:90%;padding-left:4px; margin-left:10px;line-height:30px;}
.tbg textarea{ float:left;border:none; width:90%;padding-left:4px; margin-left:10px; overflow:auto;zoom:1;}
.test_box {
    width: 90%;
    min-height: 50px;  float:left;border:none; padding-left:4px; margin-left:10px; text-align:left;padding:5px 0;
    max-height: 3000px;
    _height: 50px;
    outline: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
}
.tbg p span{ display:block}
.tbg .yes p{ float:left;margin:0;}
.zyz  .yes p input{ float:left; width:15px;height:15px;border:#000 solid 1px;margin-top:3px;margin-right:2px;}
.join input{font-size:12px;}
.join select{ width:60%;height:30px;border:#ccc solid 1px; float:left;margin-left:12px;}
.join .tbg{border-bottom:none}


.mgs_order .order_fwfs{height:50px;line-height:50px;padding:0 10px;border-bottom:#ccc solid 1px; overflow:hidden;zoom:1;}
.mgs_order .order_fwfs span{ float:right;color:#999; text-align:right}
.mgs_order .order_fwfs span img{margin-left:5px; }

.mgs_order .order_fwfs1{ height:50px;margin-top:10px;}
.order_fwfs strong{ clear:both; display:block; text-align:right;font-weight:normal;font-size:12px;padding-right:15px;line-height:20px;color:#CCC}


.order_sl{margin:3%;border-bottom:#ccc solid 1px;}
.order_sl li{ overflow:hidden;zoom:1;margin-bottom:10px;}
.order_sl li label{line-height:25px;}
.order_sl li span{ float:right;color:#999}
.order_sl li span input{ width:50px;height:25px;margin-left:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:#ccc solid 1px;padding-left:5px;}
.order_jy{margin:3%;border-bottom:#ccc solid 1px;}
.order_jy label{ display:block;}
.order_jy span{color:#999; display:block;line-height:20px;margin:10px 0;}
.order_jy textarea{margin:10px 0; width:98%;line-height:20px;border:#ccc solid 1px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:3px 1%;height:50px;font-size:14px;}

.tc_fwxm{position:fixed;bottom:0 ;left:5%;width:90%; z-index:1000; display:none;}
.tc_fwxm .tc_bt{font-size:14px;color:#999}
.tc_fwxm ul{background:#fff; text-align:center;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.tc_fwxm ul li{line-height:50px;border-bottom:#e7e7e7 solid 1px;color:#007aff;font-size:20px; position:relative}
.tc_fwxm  a{ display:block; width:100%;background:#fff;height:50px;margin:10px 0; text-align:center;line-height:50px;font-size:20px;color:#007aff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.tc_fwxm ul .border{border:none;}
.tc_fwxm ul .border a{padding-bottom:10px;}

.mjd_ts{font-size:12px; width:90%;margin:10px auto 10px;line-height:20px;color:#666}


.order_jg{margin:20px 3%;overflow:hidden;zoom:1;line-height:30px;}
.or_je{font-size:24px;color:#da372a; text-align:right; float:right;line-height:30px;}
.or_je1{font-size:14px; float:left;margin-left:5px;}
.or_je2{font-size:14px; text-decoration:line-through;line-height:30px; text-align:right; float:right;margin-right:5px;}

.order_list{padding:3%;}
.order_list li{ overflow:hidden;zoom:1;margin-bottom:5px ;}
.order_list li label{ width:30%; float:left; text-align:left}
.order_list li span{float:right;  width:70%; text-align:left;color:#999}

.order_dd{border-bottom:#ccc solid 1px;padding:3%;}
.order_dd dt{line-height:25px; overflow:hidden;zoom:1;}
.order_dd dt  label{float:left;  width:30%; text-align:left}
.order_dd dt  span{ float:right;  width:70%; text-align:left;color:#999}
.order_dd dd {margin-left:30%;color:#999;line-height:25px; display:none;}
.order_dd dt strong{ float:right; width:20px;height:10px;background-image:url(../images/bzzxb.png); background-size:15px 8px;margin-top:8px; background-repeat:no-repeat;}
.order_dd dt .bzzx-but-cur{ background-image:url(../images/bzzxt.png);}
.order_ddlb{clear:both;margin:0  3% 20px 3%;padding-top:20px;line-height:25px;}
.order_ddlb a{ text-decoration:underline}
.juzhong{ text-align:center;font-size:14px;position: absolute;width:200px; height:20px;left:50%;top:50%;margin-left:-100px;margin-top:-10px;}
.zfts{margin-top:20px;line-height:25px;}


.jf_nav{overflow:hidden;zoom:1;}
.jf_nav a{ width:50%; float:left; text-align:center;padding:15px 0;}
.jf_nav a:nth-of-type(odd){border-right:#f1f1f1 solid 1px; width:49%;}
.jf_nav a img{ width:20px; vertical-align:middle;margin-right:5px; float:left;margin-left:20%;}
.jf_nav a strong{ line-height:20px;font-weight:normal; float:left;color:#666}
.jf_nav a span{color:#da372a}



.cake_l{ overflow:hidden;zoom:1;}
.cake_l li{ float:left; width:50%;}
.cake_l li dl{border-right:#f1f1f1 solid 1px;border-bottom:#f1f1f1 solid 1px;padding:10px 10px 0 10px;}
.cake_l li dl dd span{color:#da372a; position:absolute;bottom:0;right:0;}
.cake_l li dl dd{font-size:14px;margin-bottom:10px;color:#666;clear:both; position:relative;line-height:20px;height:40px;}
.cake_l li dl dt img{ width:100%;}

.cake_gou{ overflow:hidden;zoom:1;padding:10px;border-bottom:#f1f1f1 solid 1px;}
.cake_gou p{ float:left}
.cake_gou span{font-size:12px; display:block;color:#ccc;}
.cake_gou strong{font-size:16px;color:#da372a; display:block;margin-bottom:5px;}
.cake_gou a{ float:right;height:30px;line-height:30px;background:#f1be00;padding:5px 15px;color:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.jf_lb_1 a{ display:block;border-bottom:#e6e6e6 solid 1px;margin-top:10px;}
.jf_lb_1 a dl{ overflow:hidden;zoom:1;background:url(../images/you.png) right center no-repeat;margin-right:10px;}
.jf_lb_1 a dl dt{ float:left; width:30%; text-align:center;margin-bottom:10px;}
.jf_lb_1 a dl dt img{ width:70px;height:70px}
.jf_lb_1 a dl dd{line-height:22px;color:#999;font-size:14px; overflow:hidden;zoom:1;}



.top_tx{height:80px;background:#da362a;padding:20px;color:#fff; position:relative}

.top_tx h2{font-size:35px;font-weight:normal}
.top_tx a{ position:absolute;top:40px;right:20px;background:#fff;height:40px; width:90px; text-align:center;line-height:40px;font-size:16px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color:#da362a}

.ord_xq li{ overflow:hidden;zoom:1;padding:15px 0 10px 0;border-bottom:#e4e4e4 solid 1px;}
.ord_xq p{ float:left; overflow:hidden;zoom:;line-height:23px;}
.ord_xq p span{ display:block;font-size:16px;color:#555}
.ord_xq p strong{ display:block;font-weight:normal;font-size:12px;COLOR:#999}
.ord_xq div{ float:right;font-size:20px;margin-top:8px;color:#da362a;}

.s_more{width:100%; background:#FFF;  z-index:999; height:auto;}
a.more_img{ display:block; height:37px;line-height:37px; width:300px;margin:30px auto ; font-size:14px;background:#e9eaeb; text-align:center;color:#51545b;font-weight:bold;-webkit-transition: all ease .7s;
-moz-transition: all ease .7s;
transition: all ease .7s;}
a.more_img:hover{background:#666;color:#fff; text-decoration:none;}
span.loading{ display:block; height:32px; background:url(../images/loading.gif) center top no-repeat; margin-top:5px}

.cake_order{margin:3%; overflow:hidden;zoom:1;}
.cake_order  dt{ float:left; width:30%;margin-right:20px;}
.cake_order  dt img{ width:100%;}
.cake_order dd.cake_bt{font-size:16px;line-height:25px;margin-bottom:20px;}
.cake_order dd{font-size:14px;}
.cake_order dd span{color:#f1be00; font-weight:bold}
.order_dz{margin-bottom:10px;}
.order_dz li{ overflow:hidden;zoom:1;padding:0 10px;border-bottom:#e5e5e5 solid 1px;line-height:50px;}
.order_dz li img{ float:left;margin-top:12px;margin-right:10px; width:25px;}
.order_dz li span{ float:left}
.order_dz li strong{ float:right;font-weight:normal; }
.order_dz li strong a{ display:block;background:url(../images/you.png) no-repeat right;padding-right:15px;}
.order_dz li input{height:30px;border:#e0e0e0 solid 1px;padding-left:5px;margin-right:10px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }
.dz{width:65%;height:100%; text-align:right; line-height:20px;margin:15px 0 10px 0;}

.dz textarea{ width:98%;padding:3px;height:46px;font-size:12px;line-height:23px;border:#e0e0e0 solid 1px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.cake_orderd{margin:3%; overflow:hidden;zoom:1;}
.cake_orderd  dt{ float:left; width:30%;margin-right:20px;}
.cake_orderd  dt img{ width:100%;}
.cake_orderd  dd{font-size:14px;margin-bottom:5px;}
.cake_color{color:#f1be00}
.cake_gou .fenxiang {background:#fff;color:#999;font-size:14px;line-height:30px;font-size:16px;line-height:35px;}
.fenxiang img{ display:block;width:18px; float:right;margin-top:-25px;margin-left:3px;}
.tishi{ text-align:center;margin:20px 0;}
.dh_ts{background:#f1f1f1;padding: 15px 10px;margin:20px 0;}
.dh_ts strong{margin-bottom:10px; display:block;font-weight:normal}



.navl{ overflow:hidden;zoom:1;border-top:#ccc solid 1px;padding:5px 0; position:fixed;bottom:0; left:0; width:100%;background:#fff}
.navl li{ float:left; width:25%;font-size:12px; text-align:center}
.navl span{display:block; height:25px; width:25px;background-size:100%;margin:0 auto 2px;}
.navl .bg1{ background-image:url(../images/home1.png);}
.navl .bg11{background-image:url(../images/home1on.png);}
.navl .bg2{background-image:url(../images/home2.png) ;}
.navl .bg22{background-image:url(../images/home2on.png);}

.navl .bg3{background-image:url(../images/learn.png);}
.navl .bg33{background-image:url(../images/learn-on.png) ;}
.navl .bg4{background-image:url(../images/me.png);}
.navl .bg44{background-image:url(../images/me-on.png) ;}

.navl li a{ display:block;overflow:hidden;zoom:1;text-align:center;font-size:12px;}
.navl li .act{color:#43d6a0}




.personal{margin-bottom:58px;}
.personal li{ padding:0 10px;border-bottom:#e7e7e7 solid 1px; overflow:hidden;zoom:1;}
.personal li .per_tx{-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; float:left;margin-right:10px;margin-top:0;}
.personal a {display:block;background:url(../images/you.png) right center  no-repeat;padding:15px 0; overflow:hidden;zoom:1;font-size:14px;}
.personal a span{font-size:12px;color:#ccc}
.per_bg{ width:100%;}
.per_top{ overflow:hidden;zoom:1;}
.per_name{ display:block;margin-left:10px;margin-top:48px;line-height:50px; position:absolute;top:0;left:0;}
.per_name img{ width:50px;height:50px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;margin-right:10px;}
.f_kc{margin-bottom:60px;}

.tanchu1{ z-index:9999; position:absolute;top:20px; display:none}

.se_nav{height:50px; position:fixed;top:0;left:0; width:100%;background:#fff;}
.se_nav p{ width:180px; overflow:hidden;zoom:1;margin:0 auto}
.se_nav span{ float:left; width:80px;height:30px;margin:10px auto 0;background:#ccc ;line-height:30px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color:#fff; text-align:center}
.se_nav span:nth-of-type(odd){margin-right:20px;}
.se_nav .active{background:#f1be00}
.service_z{margin-top:50px;}
.service_b ul {border-bottom:#f1f1f1 solid 1px;padding:10px;}
.service_b ul li{line-height:25px;color:#666;}
.service_b ul li span{margin-left:10px;color:#ccc}
.cwd_xin{ position:fixed; right:20px;bottom:20px;display:block;height:50px;width:50px; text-align:center;line-height:50px;color:#fff;font-size:14px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background:#f1be00;}

.x_insur{margin:5% 3% 3% 3%;text-align:center;border-bottom:#ccc solid 1px;border-left:#ccc solid 1px; width:94%;}
.x_insur td{height:35px;border-right:#ccc solid 1px;border-top:#ccc solid 1px;color:#999}
.x_kf{ text-align:center;color:#999}


.xdh_ts{background:#fdecad;padding:15px;margin:10px;color:#333;line-height:25px;}
.order_dz{background:#fff;}
.order_dz li{ overflow:hidden;zoom:1;padding:0 10px;border-bottom:#e5e5e5 solid 1px;line-height:50px;}
.order_dz li img{ float:left;margin-top:13px;margin-right:10px; width:25px;}
.order_dz li span{ float:left}
.order_dz li strong{ float:right;font-weight:normal;}
.order_dz li strong a{ display:block;background:url(../images/you.png) no-repeat right;padding-right:15px;}

.background12{background:#f1f1f1;height:10px;}
.x_addper li .order_ts{height:30px; width:100%;border:none;font-size:14px; text-align:left; }
.x_addnei{ text-align:right;}
.mzsm{ display:block;clear:both; text-align:center;margin-top:15px;color:#999}


.x_inst img{ width: 100%;}
.x_inst p{height:40px;line-height:40px;}
.x_inst p span{ float: left;width: 23.3%; text-align: center;height:38px;margin:0 5%;}
.x_inst p .active{border-bottom:#F1BE00 solid 2px;}

.service_b1{margin-bottom:15px;}
.service_b1 .ser_tb {border-bottom:#f1f1f1 solid 1px;padding:10px;}
.service_b1 .ser_tb li{line-height:25px;color:#666;}
.service_b1 .ser_tb li span{margin-left:10px;color:#ccc}
.ser_jx{margin:20px 10px 10px;}
.ser_jx li{margin: 0 5px 0 10px;border-left:#4ac199 solid 4px;padding-bottom:25px;color:#666;font-size:14px;line-height:20px}
.ser_jx li span{ float:left;height:26px;width:26px;color:#fff;margin-bottom:30px;background: #4ac199;margin-left:-15px;margin-right:14px; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;font-size:12px; text-align: center;line-height:26px;}
.ser_jx li:last-of-type{border-left:#fff solid 4px;padding-bottom:0;}
.zwbd{ text-align: center;line-height:50px;color:#666}
.x_insur{margin:5% 3% 3% 3%;text-align:center;border-bottom:#ccc solid 1px;border-left:#ccc solid 1px; width:94%;}
.x_insur td{height:35px;border-right:#ccc solid 1px;border-top:#ccc solid 1px;color:#999}
.x_kf{ text-align:center;color:#999}

.mjd_pl{margin:20px 20px 10px 20px}

.mjd_pl dl{overflow: hidden;zoom: 1;margin:10px 0}
.mjd_pl dt { width: 40px; float: left;margin-right:10px;}
.mjd_pl dt img{ width: 100%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.mjd_pl .mjd_bt{font-size: 14px;color:#333}
.mjd_pl dl dd{font-size: 12px;color:#999; line-height: 20px;}
.mjd_pl p{padding-bottom:20px;}
